<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Bradley Leftley</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="https://avatars1.githubusercontent.com/u/44673772?s=460&v=4" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
           <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#github">Opensource</a>
            </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#applications">Portfolio</a>
            </li>
          <li class="nav-item"> 
            <a class="nav-link js-scroll-trigger" href="#design">Design</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
          </li>
        </ul> -->
      </ul></div>
    </nav>
<div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Bradley
            <span class="text-primary">Leftley</span>
          </h1>
          <div class="subheading mb-5">Copenhagen, Denmark
            <a href="mailto:name@email.com"></a>
          </div>
          <p class="mb-5">Front End Engineer with experience of UX, Web and AWS. Currently working at Linkfire in Copenhagen. </p>
                <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
<div class="subheading mb-3">Web Languages &amp; Tools</div>
<ul>
  <li>HTML5, CSS3, SASS & JavaScript </li>
</ul>
<div class="subheading mb-3">Web Frameworks </div>

<ul>
  <li> Ember.js (Node.js, Express.js), Angular.js, D3.js JQuery, Bootstrap & Foundation</li>
</ul>
<div class="subheading mb-3">Databases </div>

<ul>
  <li> MySQL, PostgreSQL &amp; DynamoDB</li>
</ul>
<div class="subheading mb-3">Design</div>

<ul>
  <li> Sketch 3, Photoshop &amp; Illustrator</li>
</ul>
<div class="subheading mb-3">Cloud</div>

<ul>
  <li>Amazon Web Services</li>
</ul>
<div class="subheading mb-3">CI / CD</div>

<ul>
  <li>Teamcity</li>
  <li>Docker</li>
</ul>
</div>
        
          <ul class="list-inline list-social-icons mb-0">

            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
            <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com/in/bradleyleftley">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>
        
          <div class="resume-item d-flex flex-column flex-md-row mb-5">

            <div class="resume-content mr-auto">
              
              <h3 class="mb-0">Front End Developer</h3>
              <div class="subheading mb-3">Linkfire</div>
              <p>Front end developer working on the insights team using Ember.js as our core framework. </p>
              <ul>
                <li>Deploying front end to different environments via Teamcity. </li>
                <li>Writing functional and reusable code. </li>
                <li>Writing integration, unit and acceptance tests.</li>
                <li>Refactoring code </li>               
                <li>Peer reviewing code</li>   
                <li>Working with D3.js to visualise data.</li>                 
              </ul>
            </div>
                        <div class="resume-date text-md-right">
                <img src="/linkfire.png" style="height:80px;" >  
                <br>
              <span class="text-primary">Oct 2017 - present</span>
            </div>

          </div>
      
          
          <div class="resume-item d-flex flex-column flex-md-row mb-5">

            <div class="resume-content mr-auto">
              
              <h3 class="mb-0">Front End Developer</h3>
              <div class="subheading mb-3">PA Consulting Group</div>
              <p>Working in the Learning and Development department on the redevelopment of the internal Learning Platform. This includes developing and enhancing sub community pages, events search functionality and creating supporting applications.</p>
               <ul>
                <li>Introducing Git into the team. </li>
                <li>Writing functional and reusable code. </li>
                <li>Designing and developing internal learning application. </li>               
                <li>Deploying updates to the application.</li>  
                <li>Implemented a design library into the team to improve workflow.</li>               
              </ul>
            </div>
            
            <div class="resume-date text-md-right">
                <img src="https://www.paconsulting.com/Static/images/svgs/logo.svg" style="height:80px;" >  
                <br>
              <span class="text-primary">Oct 2017 - Oct 2018</span>
            </div>
          </div>
        
          
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
        
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Consultant Front End Developer</h3>
              <div class="subheading mb-3">Daemon Solutions</div>
              <p>Worked in the Business Information team, constructing retail reporting applications using Ember.js as the core framework.</p>
               <ul>
                <li>Working with D3.js to visualise data. </li>
                <li>Writing functional and reusable code.</li>                       
              </ul>
            </div>
            <div class="resume-date text-md-right">
                <img src="/daemon.svg" style="height: 80px;" >  
                <br>
              <span class="text-primary">2016 - 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
          
            <div class="resume-content mr-auto">
              <h3 class="mb-0">IOS Developer</h3>
              <div class="subheading mb-3">Daemon Solutions</div>
              <p>I worked on an IOS app called ‘Facereel’ which enabled users to create customisable time-lapses using still images. The app was built using Objective-C.</p>
            </div>
            <div class="resume-date text-md-right">
                <img src="/daemon.svg" style="height: 80px;" >  
                <br>
              <span class="text-primary">2015 – 2016</span>
            </div>
          </div>

 

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Certified Developer Associate</h3>
              <div class="subheading mb-3"> Amazon Web Services</div>
              <div>Acquired skills in developing cloud infrastructure using services such as S3, EC2, Route53 and DynamoDB.</div>
              <!-- <p>GPA: 3.23</p> -->
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">User Experience Foundation Certificate</h3>
              <div class="subheading mb-3">BCS</div>
              <p>Focusing on the core concepts of user experience, tools, techniques and the methods used in the field of user experience.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Leading and Influencing Level 1</h3>
                <div class="subheading mb-3"> Intelligent Action</div>
                <p>Three day course learning how to lead and influence others in a professional environment and adapt to different scenarios, further developing verbal com- munication and team work skills.</p>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2016</span>
              </div>
            </div>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">BSc Computer Science</h3>
                  <div class="subheading mb-3"> University of East Anglia</div>
                  <p>Whilst developing my understanding in core Computer Science theories, such as data structures and algorithms, I learned how to project manage from its conception through to completion. I created an e-commerce web application for my final project and as part of the software engineering module, developed mobile applcations.</p>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">2016</span>
                </div>
              </div>

        </div>
      </section>
            <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="github">
        <div class="my-auto">
          <h2 class="mb-5">Opensource</h2>
{{!-- <div class="github-widget" data-username="BradLeftley"></div> --}}



<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

<div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0"></h3>
                  <div class="subheading mb-3">Ember Tab Menu</div>
                  <p>Simple tab menu component for Ember.</p>
                  <div class="github-card" data-github="BradLeftley/ember-tab-menu" data-width="400" data-height="" data-theme="default"></div>

                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">2018</span>
                </div>
              </div>
              <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0"></h3>
                  <div class="subheading mb-3">Ember Times</div>
                  <p>I contribute to the weekly Ember times, which updates developers on RFC and other intresting updates with the Ember framework.</p>
                  <div class="github-card" data-github="ember-learn/ember-blog" data-width="400" data-height="" data-theme="default"></div>

                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">2018</span>
                </div>
              </div>
        </div>
      </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="applications">
          <div class="my-auto">
            <h2 class="mb-5">Portfolio</h2>
            <div class="resume-item d-flex flex-column flex-md-row">
                <div class="resume-content mr-auto">
                  <h3 class="mb-0">Internal Learning Application</h3>
                  <div class="subheading mb-3">PA Consulting</div>
                  <p>Checklist application developed in Ember.js and AWS.</p>
                  <ul class="list-inline list-icons">
                      <li class="list-inline-item">
                          <i class="devicons devicons-html5"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="devicons devicons-css3"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="devicons devicons-javascript"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="devicons devicons-jquery"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="devicons devicons-ember"></i>
                          </li>
                          <li class="list-inline-item">
                              <i class="devicons devicons-nodejs"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="devicons devicons-sass"></i>
                          </li>
                          <li class="list-inline-item">
                            <i class="devicons devicons-npm"></i>
                          </li>
                          <li class="list-inline-item">
                              <i class="devicons devicons-aws"></i>
                            </li>
                    </ul>
                </div>
                <div class="resume-date text-md-right">
                  <span class="text-primary">2018</span>
                </div>
              </div>
              <div class="resume-item d-flex flex-column flex-md-row mb-5">
                  <div class="resume-content mr-auto">
                    <h3 class="mb-0">Cloud Practice Exams</h3>
                    <div class="subheading mb-3"> Personal</div>
                    <div>Cloud Pracice test website:- Acquired skills in developing cloud infrastructure using services such as S3, Lambda, Route53 and RDS as well as developing in Ember.js and incorperating payment systems such as Stripe.</div>
                    <!-- <p>GPA: 3.23</p> -->
                    <ul class="list-inline list-icons">
                      <li class="list-inline-item">
                        <i class="devicons devicons-html5"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="devicons devicons-css3"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="devicons devicons-javascript"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="devicons devicons-jquery"></i>
                      </li>
                      <li class="list-inline-item">
                          <i class="devicons devicons-ember"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="devicons devicons-nodejs"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="devicons devicons-sass"></i>
                        </li>
                        <li class="list-inline-item">
                          <i class="devicons devicons-npm"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="devicons devicons-aws"></i>
                          </li>
                          <li class="list-inline-item">
                              <i class="devicons devicons-mysql"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="devicons devicons-nginx"></i>
                            </li>
                      </ul>
                  </div>
                  <div class="resume-date text-md-right">
                    <span class="text-primary">2018</span>
                  </div>
                  
             
                
                </div>
            <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Retail Report Applications</h3>
                <div class="subheading mb-3"> Daemon Solutions</div>
                <div>Retail reporting application developed in Ember.js delivering repsonsive application to a large number of users.</div>
                <!-- <p>GPA: 3.23</p> -->
                <ul class="list-inline list-icons">
                  <li class="list-inline-item">
                    <i class="devicons devicons-html5"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-css3"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-javascript"></i>
                  </li>
                  <li class="list-inline-item">
                    <i class="devicons devicons-jquery"></i>
                  </li>
                  <li class="list-inline-item">
                      <i class="devicons devicons-ember"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-nodejs"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="devicons devicons-sass"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="devicons devicons-npm"></i>
                    </li>
                    <li class="list-inline-item">
                        <i class="devicons devicons-aws"></i>
                      </li>
                    
                  </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2017</span>
              </div>
              
         
            
            </div>
            
        
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Location Notification IOS App</h3>
                <div class="subheading mb-3">Personal</div>
                <p>Location tracking and push notification app which notifies other users of my arrival to different destinations.</p>
                <ul class="list-inline list-icons">
                    <li class="list-inline-item">
                        <i class="devicons devicons-swift"></i>
                      </li>
                      <li class="list-inline-item">
                          <i class="devicons devicons-aws"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="devicons devicons-nodejs"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="devicons devicons-mysql"></i>
                          </li>
                  </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">2016</span>
              </div>
            </div>
  
        
  
          </div>
        </section>
     
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="design">
        <div class="my-auto">
          <h2 class="mb-5">Design</h2>
<div class="row">
  <div class="mb-3 flex-column d-flex" style="margin: 1rem;">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/cloudanalytics.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cloud Analytics</h5>
    <p class="card-text">Dashboard for a understanding what computing resources are currently being used on AWS</p>
    <a href="https://sketch.cloud/s/5Ym8w/a/bW9aQj" target="_blank" style="background: #fa6400;border-color:#fa6400" class="btn btn-primary">Sketch Viewer</a>
  </div>
</div>
</div>
<div class="mb-3 flex-column d-flex" style="margin: 1rem;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/stock.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Stock</h5>
    <p class="card-text">Stocks IOS app which would use open data to show you how well a stock is doing overtime.</p>
    <a href="https://sketch.cloud/s/AYb85" target="_blank" style="background: #fa6400;border-color:#fa6400;" class="btn btn-primary">Sketch Viewer</a>
  </div>
</div></div>
<div class="mb-3 flex-column d-flex" style="margin: 1rem;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/devsite.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">BradleyDev</h5>
    <p class="card-text">Simple homepage responsive page design for my personal JIRA and Teamcity server running on a Mac Mini.</p>
    <a href="http://home.bradleydev.co.uk" target="_blank" style="background: #fa6400;border-color:#fa6400;" class="btn btn-primary">View homepage</a>
  </div>
</div></div>
<div class="mb-3 flex-column d-flex" style="margin: 1rem;">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/CloudPracticeExams.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cloud Practice Exams</h5>
    <p class="card-text">AWS practice certification exams website.</p>
    <a href="https://cloudpracticeexams.com" target="_blank" style="background: #fa6400;border-color:#fa6400;" class="btn btn-primary">View Website</a>
  </div>
</div></div>
</div>


</div>


     </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
          <div class="my-auto">
            <h2 class="mb-5">Contact</h2>
  
  
            <div class="resume-item d-flex flex-column flex-md-row">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Email contact</h3>
              
                <a href="mailto:b_leftley@icloud.com">Email me</a>
              </div>
            
            </div>
  
        
  
          </div>
        </section>
      <!-- <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
          <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
        </div>
      </section> -->
<!-- 
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Awards &amp; Certifications</h2>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Google Analytics Certified Developer</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              Mobile Web Specialist - Google Certification</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2009</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              2<sup>nd</sup>
              Place - University of Colorado Boulder - Emerging Tech Competition 2008</li>
            <li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              1<sup>st</sup>
              Place - James Buchanan High School - Hackathon 2006</li>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              3<sup>rd</sup>
              Place - James Buchanan High School - Hackathon 2005</li>
          </ul>
        </div>
      </section> -->

    </div>