<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Bradley Leftley</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="https://avatars1.githubusercontent.com/u/44673772?s=460&v=4" alt="">
    </span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <ScrollContainer @linkId="about">
          <a class="nav-link js-scroll-trigger" href="#about">
            About
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="experience">
          <a class="nav-link js-scroll-trigger" href="#experience">
            Experience
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="education">
          <a class="nav-link js-scroll-trigger" href="#education">
            Education
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="opensource">
          <a class="nav-link js-scroll-trigger" href="#opensource">
            Opensource
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="portfolio">
          <a class="nav-link js-scroll-trigger" href="#portfolio">
            Projects
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="design">
          <a class="nav-link js-scroll-trigger" href="#design">
            Design
          </a>
        </ScrollContainer>
      </li>
      <li class="nav-item">
        <ScrollContainer @linkId="contact">
          <a class="nav-link js-scroll-trigger" href="#contact">
            Contact
          </a>
        </ScrollContainer>
      </li>
    </ul>
  </div>
</nav>

  <div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column"> 
        <Anchor @id="about">
    <div class="my-auto">
      <h1 class="mb-0">
        Bradley
        <span class="text-primary">Leftley</span>
      </h1>
      <div class="subheading mb-5">
        London, United Kingdom
        <a href="mailto:name@email.com"></a>
      </div>
      <p class="mb-5">
        Software Engineer with experience of AWS, Web and UX. Currently working for Linkfire remotely
        in United Kingdom.
      </p>
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Languages &amp; Tools</div>
        <ul>
          <li>HTML5, CSS3, SASS, JavaScript and Python.</li>
        </ul>
        <div class="subheading mb-3">Web Frameworks</div>

        <ul>
          <li> Ember.js (Node.js, Express.js), Angular.js, D3.js JQuery, Bootstrap & Foundation.</li>
        </ul>
        <div class="subheading mb-3">Databases</div>

        <ul>
          <li> MySQL, PostgreSQL &amp; DynamoDB</li>
        </ul>
        <div class="subheading mb-3">Design</div>

        <ul>
          <li> Figma, Sketch 3, Photoshop &amp; Illustrator.</li>
        </ul>
        <div class="subheading mb-3">Cloud</div>
        <ul>
          <li>Amazon Web Services.</li>
        </ul>
        <div class="subheading mb-3">CI / CD.</div>
        <ul>
          <li>Teamcity</li>
          <li>Docker</li>
        </ul>
        <div class="subheading mb-3">OS</div>
        <ul>
          <li>Linux</li>
          <li>Mac OS</li>
        </ul>
        <div class="subheading mb-3">Web Servers</div>
        <ul>
          <li>Nginx</li>
        </ul>
      </div>

      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/bradleyleftley">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <!-- <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li> -->
      </ul>
    </div>
   </Anchor>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <Anchor @id="experience"/>
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">

        <div class="resume-content mr-auto">

          <h3 class="mb-0">Front End Developer</h3>
          <div class="subheading mb-3">Linkfire</div>
          <p>Front end developer working on the insights team using Ember.js as our core framework. </p>
          <ul>
            <li>Improving workflows via implementing enviroment PR revisions S3.</li>
            <li>Deploying front end to different environments via Teamcity. </li>
            <li>Writing functional and reusable code. </li>
            <li>Writing integration, unit and acceptance tests.</li>
            <li>Refactoring code.</li>
            <li>Peer reviewing code.</li>
            <li>Working with D3.js to visualise data.</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <img src="/linkfire.png" alt="linkfire" style="height:80px;">
          <br>
          <span class="text-primary">Oct 2017 - present</span>
        </div>

      </div>


      <div class="resume-item d-flex flex-column flex-md-row mb-5">

        <div class="resume-content mr-auto">
          <h3 class="mb-0">Front End Developer</h3>
          <div class="subheading mb-3">PA Consulting Group</div>
          <p>
            Working in the Learning and Development department on the redevelopment of the internal Learning Platform.
            This includes developing and enhancing sub community pages, events search functionality and creating
            supporting applications.
          </p>
          <ul>
            <li>Introducing Git into the team. </li>
            <li>Writing functional and reusable code. </li>
            <li>Designing and developing internal learning application. </li>
            <li>Deploying updates to the application.</li>
            <li>Implemented a design library into the team to improve workflow.</li>
          </ul>
        </div>

        <div class="resume-date text-md-right">
          <img src="https://www.paconsulting.com/Static/images/svgs/logo.svg" alt="pa" style="height:80px;">
          <br>
          <span class="text-primary">Oct 2017 - Oct 2018</span>
        </div>
      </div>


      <div class="resume-item d-flex flex-column flex-md-row mb-5">

        <div class="resume-content mr-auto">
          <h3 class="mb-0">Consultant Front End Developer</h3>
          <div class="subheading mb-3">Daemon Solutions</div>
          <p>
            Worked in the Business Information team, constructing retail reporting applications using Ember.js as the
            core framework.
          </p>
          <ul>
            <li>Working with D3.js to visualise data. </li>
            <li>Writing functional and reusable code.</li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <img src="/daemon.svg" alt="daemon" style="height: 80px;">
          <br>
          <span class="text-primary">2016 - 2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">

        <div class="resume-content mr-auto">
          <h3 class="mb-0">IOS Developer</h3>
          <div class="subheading mb-3">Daemon Solutions</div>
          <p>
            I worked on an IOS app called ‘Facereel’ which enabled users to create customisable time-lapses using still
            images. The app was built using Objective-C.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <img src="/daemon.svg" alt="daemon" style="height: 80px;">
          <br>
          <span class="text-primary">2015 – 2016</span>
        </div>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <Anchor @id="education" /> 
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Certified Developer Associate</h3>
          <div class="subheading mb-3"> Amazon Web Services</div>
          <div>
            Acquired skills in developing cloud infrastructure using services such as S3, EC2, Route53 and DynamoDB.
          </div>
          <br>
          <div>
            <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="94eada03-57cf-4fde-9ae7-ec13848ebce2" data-share-badge-host="https://www.youracclaim.com"></div><script type="text/javascript" async src="//cdn.youracclaim.com/assets/utilities/embed.js"></script>
          </div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">User Experience Foundation Certificate</h3>
          <div class="subheading mb-3">BCS</div>
          <p>
            Focusing on the core concepts of user experience, tools, techniques and the methods used in the field of
            user experience.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2017</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Leading and Influencing Level 1</h3>
          <div class="subheading mb-3"> Intelligent Action</div>
          <p>
            Three day course learning how to lead and influence others in a professional environment and adapt to
            different scenarios, further developing verbal com- munication and team work skills.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2016</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">BSc Computer Science</h3>
          <div class="subheading mb-3"> University of East Anglia</div>
          <p>
            Whilst developing my understanding in core Computer Science theories, such as data structures and
            algorithms, I learned how to project manage from its conception through to completion. I created an
            e-commerce web application for my final project and as part of the software engineering module, developed
            mobile applcations.
          </p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2016</span>
        </div>
      </div>
    </div>
</section>
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="opensource">
    <Anchor @id="opensource" />
    <div class="my-auto">
      <h2 class="mb-5">Opensource</h2>
      {{!-- <div class="github-widget" data-username="BradLeftley"></div> --}}
      <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0"></h3>
          <div class="subheading mb-3">Ember Scroll Spy</div>
          <p>Simple scroll spy component for Ember taking advantage of Ember Viewport.</p>
          <div class="github-card" data-github="BradLeftley/ember-scroll-spy" data-width="400" data-height=""
            data-theme="default"></div>

        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2020</span>
        </div>
      </div> 
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0"></h3>
          <div class="subheading mb-3">Ember Times</div>
          <p>
            I contribute to the weekly Ember times, which updates developers on RFC and other intresting updates with
            the Ember framework.
          </p>
          <div class="github-card" data-github="ember-learn/ember-blog" data-width="400" data-height=""
            data-theme="default"></div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2019</span>
        </div>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portfolio">
    <Anchor @id="portfolio" />
    <div class="my-auto">
      <h2 class="mb-5">Projects</h2>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Unraid Dashboard</h3>
          <div class="subheading mb-3">Personal (soon to be opensource)</div>
          <p>
            Currently building a opensource Unraid dashboard showing load on a server. The application will result in a custom docker container which users will be able to host on there own unraid server. The front end will be build using Ember (Octane) and using Glances / Unraid API.
          </p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-docker"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons devicons-nginx"></i>
            </li>
          </ul>
          <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="400" height="250" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FeuqyX2hn1bDb0vAcmXegDl%2Fnetwork%3Fnode-id%3D0%253A1&chrome=DOCUMENTATION" allowfullscreen></iframe>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2020</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Unraid Server</h3>
          <div class="subheading mb-3">Personal</div>
          <p>
            Built a custom Unraid server. The server contains number of docker containers including, dynamic IP updates, media / game services , personal Team city deployment and virtual machines. There is also a reverse-proxy using Nginx to serve the contains via HTTPS.
          </p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-docker"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons devicons-nginx"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2020</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Fish Tank monitoring</h3>
          <div class="subheading mb-3">Personal</div>
          <p>
            Fish tank monitoring tool built with a Raspberry PI, which posts current tempatures to slack. Built using
            Python. 
          </p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-python"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2020</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Linkfire Suite</h3>
          <div class="subheading mb-3">Linkfire</div>
          <p>Linkfire suite link / insights tool developed in Ember.js and AWS.</p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-ember"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2020</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Internal Learning Application</h3>
          <div class="subheading mb-3">PA Consulting</div>
          <p>Checklist application developed in Ember.js and AWS.</p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-ember"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2018</span>
        </div>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Cloud Practice Exams</h3>
          <div class="subheading mb-3"> Personal</div>
          <div>
            Cloud Pracice test website:- Acquired skills in developing cloud infrastructure using services such as
            S3, Lambda, Route53 and RDS as well as developing in Ember.js and incorperating payment systems such as
            Stripe.
          </div>
          <!-- <p>GPA: 3.23</p> -->
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-ember"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-python-plain"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-mysql"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nginx"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2018</span>
        </div>



      </div>
      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Retail Report Applications</h3>
          <div class="subheading mb-3"> Daemon Solutions</div>
          <div>
            Retail reporting application developed in Ember.js delivering repsonsive application to a large number of
            users.
          </div>
          <!-- <p>GPA: 3.23</p> -->
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-ember"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-npm"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>

          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2017</span>
        </div>



      </div>


      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Location Notification IOS App</h3>
          <div class="subheading mb-3">Personal</div>
          <p>
            Location tracking and push notification app which notifies other users of my arrival to different
            destinations.
          </p>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-swift"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-mysql"></i>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2016</span>
        </div>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="design">
    <Anchor @id="design" />
    <div class="my-auto">
      <h2 class="mb-5">Design</h2>
      <div class="row">
        <div class="mb-3 flex-column d-flex" style="margin: 1rem;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/cloudanalytics.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cloud Analytics</h5>
              <p class="card-text">
                Dashboard for a understanding what computing resources are currently being used on
                AWS
              </p>
              <a href="https://sketch.cloud/s/5Ym8w/a/bW9aQj" target="_blank"
                style="background: #fa6400;border-color:#fa6400" class="btn btn-primary">Sketch Viewer</a>
            </div>
          </div>
        </div>
        <div class="mb-3 flex-column d-flex" style="margin: 1rem;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/stock.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Stock</h5>
              <p class="card-text">
                Stocks IOS app which would use open data to show you how well a stock is doing
                overtime.
              </p>
              <a href="https://sketch.cloud/s/AYb85" target="_blank" style="background: #fa6400;border-color:#fa6400;"
                class="btn btn-primary">Sketch Viewer</a>
            </div>
          </div>
        </div>
        <div class="mb-3 flex-column d-flex" style="margin: 1rem;">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/CloudPracticeExams.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Cloud Practice Exams</h5>
              <p class="card-text">AWS practice certification exams website.</p>
              {{!-- <a href="https://cloudpracticeexams.com" target="_blank" style="background: #fa6400;border-color:#fa6400;"
                class="btn btn-primary">View Website</a> --}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="contact">
    <Anchor @id="contact" /> 
    <div class="my-auto">
      <h2 class="mb-5">Contact</h2>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Email contact</h3>
          <a href="mailto:b_leftley@icloud.com">Email me</a>
        </div>
        <br>
      </div>
      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">LinkedIn</h3>
          <a href="https://www.linkedin.com/in/bradleyleftley/" target="_blank">Contact me</a>
        </div>
        <br>
      </div>
    </div>
  </section>
</div>